.barra--pesquisa {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 2em;
}



/* Responsividade */
@media (max-width: 768px) {
    .barra--pesquisa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
    }
} 

